In [1]:
## Import packages to read in data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

In [2]:
## Data does not have column headers, add these when importing

column_labels = ['transaction_ID', 'price', 'transfer_date', 'postcode','property_type', 
              'old_vs_new','duration', 'PAON', 'SAON', 'street', 'locality', 'town_city', 
              'district', 'county', 'PPD_category_type', 'record_status']

## Read in the UK Housing Prices Paid dataset
## requires chunking as it is a large file

df_chunk = pd.read_csv("/Users/user/Desktop/Datasets/pp-2019-part1.csv", names=column_labels,
                      iterator=True, chunksize=10000)

## concatenate the chunks into one DataFrame 
chunk_list = []  # append each chunk here 

# Each chunk is in df format
for chunk in df_chunk:      
    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df = pd.concat(chunk_list)

In [3]:
## Convert transfer date to DateTime object
df['transfer_date'] = pd.to_datetime(df.transfer_date)

## Inspect the dataset by examining details
type(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179336 entries, 0 to 179335
Data columns (total 16 columns):
transaction_ID       179336 non-null object
price                179336 non-null int64
transfer_date        179336 non-null datetime64[ns]
postcode             178138 non-null object
property_type        179336 non-null object
old_vs_new           179336 non-null object
duration             179336 non-null object
PAON                 179336 non-null object
SAON                 22563 non-null object
street               176240 non-null object
locality             67380 non-null object
town_city            179336 non-null object
district             179336 non-null object
county               179336 non-null object
PPD_category_type    179336 non-null object
record_status        179336 non-null object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 21.9+ MB

In [4]:
## Add month and year columns
df['month'] = df['transfer_date'].dt.month
df['year'] = df['transfer_date'].dt.year

df[(df.price > 600000) & (df.property_type == 'F')]

,transaction_ID,price,transfer_date,postcode,property_type,old_vs_new,duration,PAON,SAON,street,locality,town_city,district,county,PPD_category_type,record_status,month,year
170,{80E1AA98-B729-7BF8-E053-6C04A8C00BF2},625000,2019-01-09,SW19 7DR,F,N,L,119,FLAT 1,ARTHUR ROAD,NaN,LONDON,MERTON,GREATER LONDON,A,A,1,2019
302,{8A78B2AF-3494-5CB0-E053-6B04A8C0F504},705000,2019-03-11,N4 2BX,F,Y,L,"SKYLARK POINT, 48",FLAT 29,NEWNTON CLOSE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,3,2019
320,{8A78B2AF-34AB-5CB0-E053-6B04A8C0F504},1380000,2019-02-08,E1 8ZG,F,Y,L,"PERILLA HOUSE, 17",FLAT 1901,STABLE WALK,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,2,2019
329,{8A78B2AF-34B4-5CB0-E053-6B04A8C0F504},635000,2019-03-28,W3 8UU,F,N,L,MUNSTER COURT,49,BOLLO BRIDGE ROAD,NaN,LONDON,EALING,GREATER LONDON,A,A,3,2019
332,{8A78B2AF-3504-5CB0-E053-6B04A8C0F504},740000,2019-04-15,N4 2GX,F,Y,L,"SANDPIPER BUILDING, 44",FLAT 19,NEWNTON CLOSE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,4,2019
334,{8A78B2AF-3506-5CB0-E053-6B04A8C0F504},618000,2019-04-01,E1 8QW,F,Y,L,"EASTLIGHT APARTMENTS, 18",FLAT 405,DOCK STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,4,2019
339,{8A78B2AF-350F-5CB0-E053-6B04A8C0F504},685000,2019-03-28,E1 8QU,F,Y,L,"LUXE TOWER, 12",FLAT 1003,DOCK STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,3,2019
342,{8A78B2AF-3513-5CB0-E053-6B04A8C0F504},838000,2019-03-25,E1 8QU,F,Y,L,"LUXE TOWER, 12",FLAT 402,DOCK STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,3,2019
352,{8A78B2AF-3522-5CB0-E053-6B04A8C0F504},808000,2019-04-01,E1 8QW,F,Y,L,"EASTLIGHT APARTMENTS, 18",FLAT 502,DOCK STREET,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,4,2019
355,{8A78B2AF-3526-5CB0-E053-6B04A8C0F504},675000,2019-04-01,HA1 1GY,F,Y,L,FLAT 93 BRYANT APARTMENTS,NaN,PERCEVAL SQUARE,NaN,HARROW,HARROW,GREATER LONDON,A,A,4,2019
358,{8A78B2AF-3529-5CB0-E053-6B04A8C0F504},841500,2019-03-25,E1 8ZG,F,Y,L,"PERILLA HOUSE, 17",FLAT 1601,STABLE WALK,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,3,2019
393,{8A78B2AF-362B-5CB0-E053-6B04A8C0F504},849200,2019-03-20,N4 2BX,F,Y,L,"SKYLARK POINT, 48",FLAT 69,NEWNTON CLOSE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,3,2019
394,{8A78B2AF-362C-5CB0-E053-6B04A8C0F504},880000,2019-03-20,N4 2BX,F,Y,L,"SKYLARK POINT, 48",FLAT 68,NEWNTON CLOSE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,3,2019
707,{8A78B2AF-3636-5CB0-E053-6B04A8C0F504},700000,2019-04-18,TW7 6XX,F,Y,L,LION COURT,FLAT 54,LION WHARF ROAD,NaN,ISLEWORTH,HOUNSLOW,GREATER LONDON,A,A,4,2019
716,{8A78B2AF-3642-5CB0-E053-6B04A8C0F504},736000,2019-04-12,N4 2BX,F,Y,L,"SKYLARK POINT, 48",FLAT 59,NEWNTON CLOSE,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,4,2019
752,{8A78B2AF-3224-5CB0-E053-6B04A8C0F504},815000,2019-04-08,N5 1UU,F,N,L,25B,NaN,FRAMFIELD ROAD,NaN,LONDON,ISLINGTON,GREATER LONDON,A,A,4,2019
753,{8A78B2AF-3225-5CB0-E053-6B04A8C0F504},640000,2019-05-09,N1 5QJ,F,N,L,"RONANN APARTMENTS, 26",FLAT 31,ORSMAN ROAD,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,5,2019
754,{8A78B2AF-3226-5CB0-E053-6B04A8C0F504},610000,2019-03-01,E14 9JU,F,N,L,"COBALT POINT, 38",FLAT 709,MILLHARBOUR,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,3,2019
756,{8A78B2AF-3228-5CB0-E053-6B04A8C0F504},855000,2019-05-01,N1 9FN,F,N,L,"TREMATON BUILDING, 1",FLAT 26,TREMATON WALK,NaN,LONDON,ISLINGTON,GREATER LONDON,A,A,5,2019
763,{8A78B2AF-322F-5CB0-E053-6B04A8C0F504},660000,2019-05-10,N8 9BN,F,N,L,256,NaN,FERME PARK ROAD,NaN,LONDON,HARINGEY,GREATER LONDON,A,A,5,2019
771,{8A78B2AF-3237-5CB0-E053-6B04A8C0F504},640000,2019-04-26,N1 1EN,F,N,L,1,FLAT 1,LONSDALE SQUARE,NaN,LONDON,ISLINGTON,GREATER LONDON,A,A,4,2019
772,{8A78B2AF-3238-5CB0-E053-6B04A8C0F504},975000,2019-04-24,W3 7FN,F,N,L,204,NaN,BROMYARD AVENUE,NaN,LONDON,EALING,GREATER LONDON,A,A,4,2019
776,{8A78B2AF-323C-5CB0-E053-6B04A8C0F504},650000,2019-02-08,EC2A 2AH,F,N,L,34,FLAT 7,WORSHIP STREET,NaN,LONDON,ISLINGTON,GREATER LONDON,A,A,2,2019
779,{8A78B2AF-323F-5CB0-E053-6B04A8C0F504},620000,2019-05-22,N10 1DY,F,N,L,42,FLAT 3C,COLNEY HATCH LANE,NaN,LONDON,HARINGEY,GREATER LONDON,A,A,5,2019
782,{8A78B2AF-3242-5CB0-E053-6B04A8C0F504},970000,2019-04-18,N1 7GL,F,N,L,MALDON APARTMENTS,FLAT 4,MICAWBER STREET,NaN,LONDON,HACKNEY,GREATER LONDON,A,A,4,2019
783,{8A78B2AF-3243-5CB0-E053-6B04A8C0F504},718000,2019-05-01,E1 3FY,F,N,L,"SKETCH APARTMENTS, 42",FLAT 603,WHITE HORSE LANE,NaN,LONDON,TOWER HAMLETS,GREATER LONDON,A,A,5,2019
785,{8A78B2AF-364A-5CB0-E053-6B04A8C0F504},711400,2019-04-17,NW9 4ED,F,Y,L,"QUEENSCROFT HOUSE, 22",FLAT 30,THONREY CLOSE,NaN,LONDON,BARNET,GREATER LONDON,A,A,4,2019
919,{8CAC1317-E4D2-0253-E053-6B04A8C08E51},755000,2019-05-07,NW2 4NS,F,N,L,16,GROUND FLOOR FLAT,BLENHEIM GARDENS,NaN,LONDON,BRENT,GREATER LONDON,A,A,5,2019
930,{8CAC1317-E4DE-0253-E053-6B04A8C08E51},680000,2019-04-30,NW10 5UB,F,N,L,39B,NaN,RIDLEY ROAD,NaN,LONDON,BRENT,GREATER LONDON,A,A,4,2019
934,{8CAC1317-E4E2-0253-E053-6B04A8C08E51},639600,2019-06-04,NW7 1PF,F,N,L,"VISTAS POINT, 25",FLAT 18,INGLIS WAY,NaN,LONDON,BARNET,GREATER LONDON,A,A,6,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178778,{85866A65-4930-143F-E053-6B04A8C06A15},935000,2019-02-27,SE16 4ST,F,N,L,"TEMPUS WHARF, 33",FLAT 15,BERMONDSEY WALL WEST,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
178796,{85866A65-4A9E-143F-E053-6B04A8C06A15},980000,2019-02-15,SE1 8NW,F,N,L,235,APARTMENT 8,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
178803,{85866A65-4AA7-143F-E053-6B04A8C06A15},923000,2019-03-01,SW4 9LF,F,N,L,10,NaN,BONNEVILLE GARDENS,NaN,LONDON,LAMBETH,GREATER LONDON,A,A,3,2019
178807,{85866A65-4AAD-143F-E053-6B04A8C06A15},1100000,2019-02-22,SW4 0AP,F,N,L,"FLAT 11, 5",NaN,PORTEUS PLACE,NaN,LONDON,LAMBETH,GREATER LONDON,A,A,2,2019
178822,{85866A65-4D47-143F-E053-6B04A8C06A15},1800000,2019-02-22,SE1 9GD,F,Y,L,1,APARTMENT 12,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
178824,{85866A65-4D49-143F-E053-6B04A8C06A15},5350000,2019-02-07,SE1 9GQ,F,Y,L,1,APARTMENT 236,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179040,{85866A65-4D5A-143F-E053-6B04A8C06A15},3525000,2019-02-20,SE1 9GQ,F,Y,L,1,APARTMENT 226,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179042,{85866A65-4D5C-143F-E053-6B04A8C06A15},670000,2019-03-01,SE3 9FX,F,Y,L,"HOPGOOD TOWER, 15",FLAT 1501,PEGLER SQUARE,NaN,LONDON,GREENWICH,GREATER LONDON,A,A,3,2019
179043,{85866A65-4D5E-143F-E053-6B04A8C06A15},650000,2019-03-01,SE3 9FX,F,Y,L,"HOPGOOD TOWER, 15",FLAT 1504,PEGLER SQUARE,NaN,LONDON,GREENWICH,GREATER LONDON,A,A,3,2019
179079,{85866A65-4934-143F-E053-6B04A8C06A15},625000,2019-03-15,TW9 4DN,F,N,L,"BIRCHGROVE HOUSE, 4",33,STRAND DRIVE,KEW,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A,3,2019
179085,{85866A65-493C-143F-E053-6B04A8C06A15},925000,2019-02-28,SW11 8NR,F,N,L,"HOWARD BUILDING, 368",FLAT 155,QUEENSTOWN ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,2,2019
179086,{85866A65-493E-143F-E053-6B04A8C06A15},610000,2019-02-24,SW15 2QH,F,N,L,OAKHILL COURT,FLAT 18,UPPER RICHMOND ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,2,2019
179093,{85866A65-4946-143F-E053-6B04A8C06A15},1530000,2019-01-24,SW11 8NW,F,N,L,"CENTURION BUILDING, 376",APARTMENT 13,QUEENSTOWN ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,1,2019
179102,{85866A65-4952-143F-E053-6B04A8C06A15},607000,2019-02-28,SE19 1QL,F,N,L,93,FIRST FLOOR FLAT AT,GIPSY HILL,NaN,LONDON,LAMBETH,GREATER LONDON,A,A,2,2019
179123,{85866A65-4AC3-143F-E053-6B04A8C06A15},1000000,2019-02-28,TW10 6QD,F,N,L,ONSLOW AVENUE MANSIONS,19,ONSLOW AVENUE,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A,2,2019
179128,{85866A65-4AC9-143F-E053-6B04A8C06A15},645000,2019-02-15,TW9 1UA,F,N,L,30A,NaN,CHURCH ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A,2,2019
179239,{85866A65-4D69-143F-E053-6B04A8C06A15},2200000,2019-02-28,SE1 9GJ,F,Y,L,1,APARTMENT 133,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179241,{85866A65-4D6B-143F-E053-6B04A8C06A15},760000,2019-02-22,SW19 6BU,F,Y,L,"CAMBIUM APARTMENTS, 1",23,BEATRICE PLACE,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,2,2019
179242,{85866A65-4D6C-143F-E053-6B04A8C06A15},4900000,2019-02-28,SE1 9GQ,F,Y,L,"APARTMENT 199, 1",NaN,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179246,{85866A65-4D73-143F-E053-6B04A8C06A15},2431000,2019-02-26,SE1 9GQ,F,Y,L,1,APARTMENT 221,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179247,{85866A65-4D75-143F-E053-6B04A8C06A15},745000,2019-03-05,SE3 9FX,F,Y,L,"HOPGOOD TOWER, 15",FLAT 1503,PEGLER SQUARE,NaN,LONDON,GREENWICH,GREATER LONDON,A,A,3,2019
179248,{85866A65-4D76-143F-E053-6B04A8C06A15},4900000,2019-02-28,SE1 9GQ,F,Y,L,1,APARTMENT 198,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179253,{85866A65-4D7B-143F-E053-6B04A8C06A15},775000,2019-01-04,E20 1GQ,F,Y,L,"MANHATTAN LOFT GARDENS, 22",APARTMENT 1403,INTERNATIONAL WAY,OLYMPIC PARK,LONDON,NEWHAM,GREATER LONDON,A,A,1,2019
179254,{85866A65-4D7C-143F-E053-6B04A8C06A15},650750,2019-02-07,E16 1YY,F,Y,L,12,FLAT 1502,WESTERN GATEWAY,NaN,LONDON,NEWHAM,GREATER LONDON,A,A,2,2019
179262,{85866A65-4D88-143F-E053-6B04A8C06A15},690000,2019-03-05,SE18 6LH,F,Y,L,"MINOTAUR HOUSE, 3",APARTMENT 54,THUNDERER WALK,NaN,LONDON,GREENWICH,GREATER LONDON,A,A,3,2019
179263,{85866A65-4D89-143F-E053-6B04A8C06A15},4620000,2019-02-21,SE1 9GQ,F,Y,L,1,APARTMENT 206,BLACKFRIARS ROAD,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179305,{85866A65-4962-143F-E053-6B04A8C06A15},650000,2019-02-19,SW4 7LD,F,N,L,1,FLAT 31,REED PLACE,NaN,LONDON,LAMBETH,GREATER LONDON,A,A,2,2019
179311,{85866A65-496A-143F-E053-6B04A8C06A15},1285000,2019-02-27,SE16 4TU,F,N,L,"CORBETTS WHARF, 87",FLAT 5,BERMONDSEY WALL EAST,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,2,2019
179313,{85866A65-4971-143F-E053-6B04A8C06A15},640000,2019-02-22,SW11 3RR,F,N,L,"OYSTER WHARF, 18",APARTMENT 118,LOMBARD ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,2,2019
179316,{85866A65-4975-143F-E053-6B04A8C06A15},775000,2019-02-04,SW18 5QY,F,N,L,30,NaN,WHITELANDS CRESCENT,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,2,2019

In [5]:
## Splice data to search based on specified city
city_select = 'London'
city_table = df[df.town_city == city_select.upper()]

## Count number of transactions
print(type(city_table))

## Average price paid
avg_price_paid = round(city_table.price.mean(), 0)
print(avg_price_paid)
#print("Average price paid in " + city_select + " is: " + avg_price_paid.astype(int).astype(str))

## Print sorted table
city_table.head()

<class 'pandas.core.frame.DataFrame'>
1079849.0

,transaction_ID,price,transfer_date,postcode,property_type,old_vs_new,duration,PAON,SAON,street,locality,town_city,district,county,PPD_category_type,record_status,month,year
166,{80E1AA98-B71D-7BF8-E053-6C04A8C00BF2},755000,2019-01-23,SE21 8SY,T,N,F,16,NaN,LINGS COPPICE,NaN,LONDON,LAMBETH,GREATER LONDON,A,A,1,2019
168,{80E1AA98-B721-7BF8-E053-6C04A8C00BF2},350000,2019-01-04,SW17 0LB,F,N,L,49,NaN,SIWARD ROAD,NaN,LONDON,WANDSWORTH,GREATER LONDON,A,A,1,2019
169,{80E1AA98-B728-7BF8-E053-6C04A8C00BF2},690000,2019-01-18,SE6 1ND,T,N,F,35,NaN,BROADFIELD ROAD,NaN,LONDON,LEWISHAM,GREATER LONDON,A,A,1,2019
170,{80E1AA98-B729-7BF8-E053-6C04A8C00BF2},625000,2019-01-09,SW19 7DR,F,N,L,119,FLAT 1,ARTHUR ROAD,NaN,LONDON,MERTON,GREATER LONDON,A,A,1,2019
172,{80E1AA98-B72C-7BF8-E053-6C04A8C00BF2},475000,2019-01-18,SE1 3AR,T,N,F,64,NaN,HENLEY DRIVE,NaN,LONDON,SOUTHWARK,GREATER LONDON,A,A,1,2019

In [6]:
## Summary statistics of dataset
property_type = 'F'
avg_price = np.mean(df.price)
median_price = np.median(df.price)

print(avg_price)
print(median_price)

341581.20966788597
222500.0

In [ ]:
London = df[df['town_city'] == 'LONDON']
Brighton = df[df['town_city'] == 'BRIGHTON']

plt.boxplot([London.price, Brighton.price])
plt.show()